[data-theme="default"] {
    --bg-color: #F9FAFB;
    --title-color: black;
    --description-color: black;
    --arrow-color: black;
}

[data-theme="wave"] {
    --bg-color: #76abf0;
    --title-color: #134dec;
    --description-color: rgb(0, 79, 168);
}

[data-theme="forest"] {
    --bg-color: #45a856;
    --title-color: rgb(0, 71, 21);
    --description-color: rgb(12, 107, 4);
}

[data-theme="library"] {
    --bg-color: #d4ac62;
    --title-color: rgb(133, 91, 2);
    --description-color: rgb(117, 96, 2);
}

body {
    background-color: var(--bg-color);
    font-family: "Figtree";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 0;
    transition: background-color 0.5s ease;
}

.container {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .avatar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100px;
    }
}

.box {
    cursor: pointer;
    border-radius: 25px;
    width: 350px;
    height: 350px;
    background-color: #3a3535;
    text-align: center;
}

.box:hover {
    transition: box-shadow 0.2s ease;
    box-shadow: 1em 1em 0px black;
    border: 2px solid rgb(0, 0, 0);
}

#wave {
    background-color: rgb(83, 151, 241);
}

#forest {
    background-color: rgb(107, 219, 125);
}

#library {
    background-color: rgb(231, 203, 150);
}
.avatar {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    top: 40px;
}

h3 {
    font-size: 50px;
    position: relative;
    top: 60px;
}

header {
    display: grid;
    padding-bottom: 50px;
    h1 {
        color: var(--title-color);
        font-size: 70px;
    }
    h4 {
        color: var(--description-color);
        font-weight: normal;
        margin-top: -40px;
        font-size: 30px;
    }
}

.boxMobile {
    display: none;
}

@media screen and (max-width: 940px) {
/*     body {
/*         height: 100%; */
    header {
        padding: 20px;
    }

    #wave, #forest, #library {
        display: none;
    }
    .container {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #boxMobile {
        position: relative;
        top: -50px;
        border-radius: 100%;
        display: flex;
        width: 300px;
        height: 300px;
        scale: 70%;
        background-color: rgb(83, 151, 241);
        justify-content: center;
        align-items: center;
        justify-self: center;
    }
    #boxMobileText {
        display: flex;
        position: relative;
        top: -150px;
    }
    .avatarMobile {
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 7em;
    }
    span {
        color: white;
        font-weight: bold;
    }
    
    .arrow {
        font-size: 12em;
        position: relative;
        top: 10px;
        color: var(--title-color);
    }

    #leftArrow {
        position: relative;
        left: -90px;
    }
    #rightArrow {
        position: relative;
        right: -90px;
    }
}