body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 25px;
    width: 350px;
    height: 350px;
    background-color: rgb(58, 53, 53);
}

.box:hover {
    transition: box-shadow 0.2s ease;
    box-shadow: 1em 1em 0px black;
}

/* header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */