[data-theme="default"] {
    --bg-color: #F9FAFB;
    --title-color: black;
    --description-color: black;
}

[data-theme="wave"] {
    --bg-color: #76abf0;
    --title-color: rgb(19, 77, 236);
    --description-color: rgb(0, 79, 168);
}

[data-theme="forest"] {
    --bg-color: #45a856;
    --title-color: rgb(0, 71, 21);
    --description-color: rgb(12, 107, 4);
}

[data-theme="library"] {
    --bg-color: #d4ac62;
    --title-color: rgb(133, 91, 2);
    --description-color: rgb(117, 96, 2);
}

body {
    background-color: var(--bg-color);
    font-family: "Figtree";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 0;
}

.container {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .avatar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100px;
    }
}

.box {
    border-radius: 25px;
    width: 350px;
    height: 350px;
    background-color: #3a3535;
    text-align: center;
}

.box:hover {
    transition: box-shadow 0.2s ease;
    box-shadow: 1em 1em 0px black;
    border: 2px solid rgb(0, 0, 0);
}

#wave {
    background-color: #5397f1;
}

#forest {
    background-color: #6bdb7d;
}

#library {
    background-color: #e7cb96;
}

h3 {
    font-size: 50px;
    /* margin-top: 2px; */
}

header {
    display: grid;
    padding-bottom: 50px;
    h1 {
        color: var(--title-color);
        font-size: 70px;
    }
    h4 {
        color: var(--description-color);
        font-weight: normal;
        margin-top: -40px;
        font-size: 30px;
    }
}