body {
    background-color: #F9FAFB;
    font-family: "Figtree";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 0;
}

.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .avatar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100px;
    }
}

.box {
    border-radius: 25px;
    width: 350px;
    height: 350px;
    background-color: rgb(58, 53, 53);
    text-align: center;
}

.box:hover {
    transition: box-shadow 0.2s ease;
    box-shadow: 1em 1em 0px black;
}

h3 {
    font-size: 50px;
    margin-top: 2px;
}

header {
    display: grid;
    padding-bottom: 50px;
    h1 {
        font-size: 70px;
    }
    h4 {
        font-weight: normal;
        margin-top: -40px;
        font-size: 30px;
    }
}